*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
header{
	background-image:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url(devloper.jpg);
	height: 100vh;
	/* width:auto; */
	background-size:cover;
	background-attachment: fixed;
	/* margin: 0; */
	/* padding: 0; */
}
#smrt{
	color:red;
}
#web{
	color: white;
	margin-left: 220px;
}
#titlle{
	color: white;
	margin-top: 210px;
	margin-left: 28px;
}
#imge{
	border-radius: 1000px;
}
#imge2{
	border-radius: 1000px; ;
}
#imge3{
	border-radius: 1000px;
}
.button{
	margin-left: 180px;
	margin-top: 15px;
}

.progres{
	margin-left: 25px;
	margin-right: 70px;

}
.col-sm-6{
	font-family: cursive;
}
.card1{
    /* background:skyblue; */
    margin-left:80px;
    margin-right: 80px;
    
}
#cardshdw1{
    margin-top: 8px;
    margin-bottom: 15px;
}
#cardshdw{
	box-shadow: 5px 8px 5px #232323;
}
#cardshdw1{
	box-shadow: 5px 8px 5px #232323;
}
#cardshdw2{
	box-shadow: 5px 8px 5px #232323;
}
.nav{
background-color: transparent;
}
#intro  { 
	width: 288px;
	box-shadow: 6px 8px 8px #232323;
	height: 350px;
	/* margin-left: 90px; */
	/* margin-bottom: 10px; */
	border-radius: 80px;
	margin: 80px;
	margin-top: 15px;
}
.gall{
	width: 400px;
	height: 400px;
}
.galler{
	margin: auto;
}
.galler2{
	margin: auto;
}